h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100px;
  text-align: center;
  margin-bottom: 0px;
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 55px;
  text-align: center;
  margin-top: 0px;
}
.image{
  width: 100%;
}
p {
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
